# ===========================
# 🐍 PYTHON & AIRFLOW
# ===========================
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/
*.egg-info/
.pytest_cache/

# Arquivos locais do Airflow (para não subirem se rodar local)
airflow.db
airflow.cfg
unittests.cfg
webserver_config.py
standalone_admin_password.txt
logs/

# ===========================
# 📊 R & RSTUDIO
# ===========================
.Rproj.user
.Rhistory
.RData
.Ruserdata
*.Rproj

# ===========================
# 🐰 APACHE HOP
# ===========================
# Configurações locais que não devem subir
hop-config.json
jdbc.properties
metastore.json

# Pastas de execução local/logs do Hop
audit/
tmp/
output/

# Arquivos de backup ou temporários do Hop
*.prt
*.ube
*.hwf.backup
*.hpl.backup

# ===========================
# 💿 DADOS & OUTPUTS
# ===========================
# Impede que planilhas e dados pesados subam para o Git
data/
datasets/
outputs/
*.csv
*.xls
*.xlsx
*.parquet
*.zip
*.tar.gz

# ===========================
# 💻 SISTEMA & IDE
# ===========================
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp

# ===========================
# 🔒 SEGURANÇA
# ===========================
.env
k8s/secrets.yaml
creds.json
keys/